$main-color: #f691a2; 
$main-color-hover: #f68296; 
$bg-color: #d9f1fd; 
$text-color: white;
$footer-link-color: white;
$shadow-color: #9fb1b9;
$play-color: #76c1db;
$play-color-hover: #5caeca;
$statistics-text: #56acca;
$statistics-text-darker: #3596b8;

$mobile-width: "(max-width: 700px)";
$tablet-width: "(max-width: 1120px)";
$s-desktop-width: "(max-width: 1400px)";