.train-play__container {
  position: absolute;
  z-index: 97;
  margin-top: 5rem;
  margin-left: 125rem;
  width: 13rem;
  height: 4.2rem;
  border-radius: 2.1rem;
  background: $main-color;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 5.4rem;
    height: 5.4rem;
    top: 50%;
    left: 0;
    margin-top: -2.7rem;
    border-radius: 50%;
    background: $text-color;
    box-shadow: 0.4rem 0.2rem 0.4rem rgba($shadow-color, 0.6);
    transition: all 0.3s;
  }

  &--play {
    background: $play-color;
    &::after {
      left: 7.6rem;
    }
  }
}

.train-play__txt {
  color: $text-color;
  font-size: 2rem;
  margin-left: 6.4rem;
  margin-top: 0.9rem;
  transition: all 0.3s;
}

.train-play__container--play .train-play__txt {
  margin-left: 2rem;
}



@media only screen and #{$tablet-width} {
  .train-play__container {
    margin-top: 5rem;
    margin-left: 77rem;
    width: 10rem;
    height: 3.2rem;
    border-radius: 1.8rem;
  
    &::after {
      width: 4.2rem;
      height: 4.2rem;
      margin-top: -2.1rem;
      box-shadow: 0.4rem 0.2rem 0.4rem rgba($shadow-color, 0.6);
    }
  
    &--play {
      background: $play-color;
      &::after {
        left: 6.3rem;
      }
    }
  }
  
  .train-play__txt {
    font-size: 1.6rem;
    margin-left: 4.8rem;
    margin-top: 0.7rem;
  }
  
  .train-play__container--play .train-play__txt {
    margin-left: 1.6rem;
  }
}



@media only screen and #{$mobile-width} {
  .train-play__container {
    margin-top: 1rem;
    margin-left: 22rem;
    width: 10rem;
    height: 3.2rem;
    border-radius: 1.8rem;
  
    &::after {
      width: 4.2rem;
      height: 4.2rem;
      margin-top: -2.1rem;
      box-shadow: 0.4rem 0.2rem 0.4rem rgba($shadow-color, 0.6);
    }
  
    &--play {
      background: $play-color;
      &::after {
        left: 6.1rem;
      }
    }
  }
  
  .train-play__txt {
    font-size: 1.6rem;
    margin-left: 4.8rem;
    margin-top: 0.7rem;
  }
  
  .train-play__container--play .train-play__txt {
    margin-left: 1.6rem;
  }
}